<footer class="footer bg-light text-sm-left mt-3">
	<div class="container py-3">
		<div class="row">
			<div class="col-sm-6 col-md-8">
				<h4>The Bodega</h4>
				<p>at the Innovation Hub.</p>
				<p>A community "lunchbox" helping connect residents with local Gainesville businesses and vendors.</p>
			</div>
			<div class="col-sm-3 col-md-2">
				<ul class="list-unstyled text-muted">
					<li><a [routerLink]="['/home']">Home</a></li>
					<li><a [routerLink]="['/inventory']">Order Now</a></li>
					<li><a [routerLink]="['/login']">Log In</a></li>
					<li><a [routerLink]="['/signup']">Sign Up</a></li>
					<li><a [routerLink]="['/cart']">My Cart</a></li>
				</ul>
			</div>
			<div class="col-sm-3 col-md-2">
				<ul class="list-unstyled">
					<li><a [routerLink]="['/about']">About Us</a></li>
					<li><a [routerLink]="['/partner']">Be a Partner</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright text-center bg-white py-1">
		<p>© 2019 The Bodega</p>
	</div>
</footer>