<h2>Checkout</h2>
<div class="tableWrapper">
    <table class="table table-striped table-hover">
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>

      </tr>
      <tbody>
        <tr *ngFor="let item of cart">
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td>{{item.quantity}}
        </tr>
        <tr>
          <td><strong>Total Price: </strong></td>
          <td><strong>{{getTotalPrice()}}</strong></td>
        </tr>
      </tbody>

    </table>
</div>

<!-- I'm not sure what we're going to be doing about the credit card info -->
<h6>Card ending in *last 4 of credit card*</h6>
<button type="button" class="btn btn-secondary" [routerLink]="['/account']">Change Payment Method</button>
<br><br>

<button type="button" class="btn btn-secondary" (click)="purchase()" [routerLink]="['/confirmation']">Submit Order</button>
