<h2>Checkout</h2>
<div class="tableWrapper">
    <table class="table table-striped table-hover">
      <tr>
        <th>Item</th>
        <th>Remove</th>
      </tr>
      <tr>
        <td></td>
        <td><span style="color: red;" class="glyphicon glyphicon-remove"></span></td>
      </tr>
    </table>
</div>

<!-- I'm not sure what we're going to be doing about the credit card info -->
<h6>Card ending in *last 4 of credit card*</h6>
<button type="button" class="btn btn-secondary" [routerLink]="['/account']">Change Payment Method</button>
<br><br>

<button type="button" class="btn btn-secondary" [routerLink]="">Submit Order</button>
