<h2>Checkout</h2>
<div class="tableWrapper">
    <table class="table table-striped table-hover" >
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>

      </tr>
      <tbody>
        <tr *ngFor="let item of cart">
          <td>{{item.name}}</td>
          <td>{{item.price.toFixed(2)}}</td>
          <td>{{item.quantity}}
        </tr>
        <tr>
          <td><strong>Total Price: </strong></td>
          <td><strong>{{getTotalPrice().toFixed(2)}}</strong></td>
        </tr>
      </tbody>

    </table>
</div>
<br>
<!-- I'm not sure what we're going to be doing about the credit card info -->
<h6>Card ending in *last 4 of credit card*</h6>
<button type="button" class="btn btn-yellow" [routerLink]="['/account']">Change Payment Method</button>
<br><br>

<div id="submit">
  <button type="button" class="btn btn-blue" (click)="purchase()">Submit Order</button>
</div>

<div id="error" style = "display:none; color:red;" >
  <strong>Error: {{error}} Shopping Cart has been reset.</strong><br>
  <button type="button" class="btn btn-blue" [routerLink]="['/inventory']">Return to Cafe Inventory</button>
 </div>
