<p>inventory component</p>

<h1>Cafe Inventory</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Add to Cart</th>
    </tr>
  </thead>
  <tbody>
  	<!-- TODO: ng-repeat on rows -->
    <tr>
      <td>Cilantro Chicken</td>
      <td>8.5</td>
      <td>2</td>
      <!-- TODO: ng click on the button -->
      <td><button type="button" class="btn btn-danger">Add to Cart</button></td>
    </tr>
    <tr>
      <td>Chicken Salad Croissant</td>
      <td>9.5</td>
      <td>5</td>
      <td><button type="button" class="btn btn-danger">Add to Cart</button></td>
    </tr>
  </tbody>
</table>