<p>inventory component</p>

<h1>Cafe Inventory</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Add to Cart</th>
    </tr>
  </thead>
  <tbody>
  	<tr *ngFor="let food of foods">
      <td>{{food.name}}</td>
      <td>{{food.price}}</td>
      <td>{{food.quantity}}</td>
      <td><button type="button" class="btn btn-danger">Add to Cart</button></td>
      <!-- TODO: ng click on the button to remove item from inventory -->
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-success" [routerLink]="['/cart']">View Shopping Cart</button>