<h1>DEBUG</h1>

<div class="container">
	<div class="row">
		<div class="col">
			<form>
				<h4>Food Item Name:</h4>
				<input [(ngModel)]="data.name" type="text" name="foodItem-name">
				<br>
				<h4>Vendor</h4>
				<input [(ngModel)]="data.vendor" type="text" name="foodItem-vendor">
				<br>
				<label for="price"> <h4>Price:</h4> </label><br>
				<input [(ngModel)]="data.price" type="number" name="price" step="0.01">
				<br>
				<label for="quantity"> <h4>Quantity:</h4></label><br>
				<input type="number" name="quantity" step="1" ng-model="">
				<br>
				<input type="button" value="Add item" (click)="post()">
			</form>
		</div>
		<div class="col">
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th>Item</th>
			      <th>Price</th>
			      <th>Quantity</th>
			      <th>Edit</th>
			      <th>Remove</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<!-- TODO: ng-repeat on rows, populate with current inventory -->
			    <tr>
			      <td>Test<!-- food item name --></td>
			      <td>Test<!-- food item price --></td>
			      <td>Test<!-- food item quantity --></td>
			      <!-- TODO: ng click on the button to edit item in inventory (call pop up form?) -->
			      <td><button type="button" class="btn btn-danger">Edit</button></td>
			      <!-- TODO: ng click on the button to remove item from inventory -->
			      <td><button type="button" class="btn btn-danger">x</button></td>
			    </tr>
			  </tbody>
			</table>
			<!-- TODO: pop up form for editing -->
		</div>
	</div>
</div>
