<h1>DEBUG</h1>

<form>
	<section>
		<h4>Food Item Name:</h4>
		<input [(ngModel)]="data.name" type="text" name="foodItem-name">
	</section>
	<br>
	<section>
		<h4>Vendor</h4>
		<input [(ngModel)]="data.vendor" type="text" name="foodItem-vendor">
	</section>
	<br>
  <section>
  <label for="price"> <h4>Price: </h4> </label><br>
  <input [(ngModel)]="data.price" type="number" name="price" step="0.01">
  </section>
  <br>
  <section>
  <label for="quantity"> <h4>Quantity: </h4></label><br>
  <input type="number" name="quantity" step="1" ng-model="">
  </section>
  <br>
  <br>
	<section>
		<input type="button" value="Add item" (click)="post()">
	</section>
</form>