<div class="container">
	<div class="row">
		<div class="col">
			<img src="assets/images/bodega_about.jpg" class="img-fluid" alt="Responsive image">
		</div>
		<div class="col">
			<h2>About Us</h2>
			<p>
				We are a community "lunchbox" that hosts local food vendors to provide a point of sale and advanced ordering for Gainesville businesses and residents.
			</p>
			<h3>Contact</h3>
			<p>
			Address:
			747 SW 2nd Ave
			Gainesville, Florida 32601
			</p>
			<p>Email:</p><a href="mailto:bodegagnv@gmail.com">bodegagnv@gmail.com</a>
			<h3>Hours</h3>
			<ul>
				<li>Monday: 11:00 AM - 2:00 PM</li>
				<li>Tuesday: 11:00 AM - 2:00 PM</li>
				<li>Wednesday: 11:00 AM - 2:00 PM</li>
				<li>Thursday: 11:00 AM - 2:00 PM</li>
				<li>Friday: 11:00 AM - 2:00 PM</li>
				<li>Saturday and Sunday: CLOSED</li>
			</ul>

		</div>
	</div>
</div>