<div class="container">
	<div class="row">
		<div class="col">
			<img src="assets/images/bodega_about.jpg" class="img-fluid" alt="Responsive image">
		</div>
		<div class="col">
			<h2>About Us</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nibh dolor, commodo eu eros vel, tincidunt tempor purus. Maecenas iaculis felis eu est consectetur, sit amet dapibus dui placerat. Vestibulum eleifend mauris nec augue auctor, id accumsan risus dapibus. Morbi nisl risus, varius in ex id, interdum sodales erat. In sit amet dui faucibus, ultricies odio ac, consectetur mi. In tempus urna vel tempor tempor. Integer vitae dapibus nisi, ut efficitur lectus. Donec vulputate metus turpis, ut sagittis augue tempus sit amet. Aliquam enim mauris, consequat ut tellus sit amet, consectetur tempor leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce sem massa, sollicitudin maximus molestie non, vulputate ut tellus. Quisque semper augue accumsan eros sagittis ultrices. Phasellus imperdiet eu neque et consequat. Curabitur a justo eros. In sed accumsan lectus. Quisque in posuere mi.
			</p>
			<h3>Contact</h3>
			<p>
			747 SW 2nd Ave
			Gainesville, Florida 32601
			</p>
			<br>
			<p>bodegagnv@gmail.com</p>

		</div>
	</div>
</div>