<h1> Order History </h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Order Name</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  	<!-- TODO: ng-repeat on rows -->
    <tr>
      <td>Cilantro Chicken</td>
      <td>3/26/19</td>
      <!-- TODO: ng click on the button -->
      <td><button type="button" class="btn btn-blue">Leave a Review</button></td>
    </tr>
    <tr>
      <td>Chicken Salad Croissant</td>
      <td>3/25/19</td>
      <td><button type="button" class="btn btn-blue">Leave a Review</button></td>
    </tr>
  </tbody>
</table>
