<h2>Your order has been received!</h2>
<br><br>
<div class="tableWrapper">
    <table class="table table-striped table-hover">
      <tr>
        <th>Item</th>
        <th>Remove</th>
      </tr>
      <tr>
        <td></td>
        <td><span style="color: red;" class="glyphicon glyphicon-remove"></span></td>
      </tr>
    </table>
</div>

<!-- I need to figure out how to generate a random number and then also send it to admin account -->
<p>Pin: *random pin*</p>
<br><br>

<button type="button" class="btn btn-secondary" [routerLink]="['/home']">Close</button>

