<p>Partner component</p>
<div class="container">
	<div class="row">
		<div class="col">
			<h2>Be a Partner</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nibh dolor, commodo eu eros vel, tincidunt tempor purus. Maecenas iaculis felis eu est consectetur, sit amet dapibus dui placerat. Vestibulum eleifend mauris nec augue auctor, id accumsan risus dapibus. Morbi nisl risus, varius in ex id, interdum sodales erat. In sit amet dui faucibus, ultricies odio ac, consectetur mi. In tempus urna vel tempor tempor. Integer vitae dapibus nisi, ut efficitur lectus. Donec vulputate metus turpis, ut sagittis augue tempus sit amet. Aliquam enim mauris, consequat ut tellus sit amet, consectetur tempor leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce sem massa, sollicitudin maximus molestie non, vulputate ut tellus. Quisque semper augue accumsan eros sagittis ultrices. Phasellus imperdiet eu neque et consequat. Curabitur a justo eros. In sed accumsan lectus. Quisque in posuere mi.

				Nulla bibendum turpis tempor lacus maximus ornare. Aenean lobortis quam nulla, a ornare ex rutrum a. Vestibulum pulvinar nibh ac est tempor mattis. Quisque eu nulla sed massa tristique eleifend eget a nibh. Suspendisse id aliquam mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst.
			</p>
		</div>
		<div class="col">
			<img src="assets/images/bodega_partner.jpg" class="img-fluid" alt="Responsive image">
			<button type="button" class="btn btn-secondary">Sign up to be a Partner</button>
		</div>
	</div>
</div>