<div class="container">
	<div class="row" align="center">
		<div class="col">

      <br>
      <h3>Account Information</h3>
			<br>
      <form method="POST" > <!-- NOT SURE ABOUT ACTION -->
      	<div>
      			<label for="inputFirstName">First Name</label>
      			<input type="text" class="form-control" name="firstName" [(ngModel)]="updateUserData.firstname" style="width: 300px;" required>
      	</div>
				<br>
      	<div>
      			<label for="inputLastName">Last Name</label>
      			<input type="text" class="form-control" name="lastName" [(ngModel)]="updateUserData.lastname" style="width: 300px;" required>
      	</div>
				<br>
        <div>
      			<label for="inputEmail" align="left">Email</label>
      			<input type="text" class="form-control" name="email" [(ngModel)]="updateUserData.email" style="width: 300px;" required>
      	</div>
				<br>
        <div>
      			<label for="inputUsername">Username</label>
      			<input type="text" class="form-control" name="username" [(ngModel)]="updateUserData.username" style="width: 300px;" required>
      	</div>
				<br>
      <!--  <div class="form-group col-md-3">
      			<label for="inputPassword">Password</label>
      			<input type="password" class="form-control" name="password" [(ngModel)]="updateUserData.password" style="width: 300px;" required>
      	</div>
        <div class="form-group col-md-3">
      			<label for="inputReenterPassword" style="width: 300px;">Re-enter Password</label>
      			<input type="text" class="form-control" name="reenterPassword" ng-model="" placeholder="" style="width: 300px;" required>
      	</div>
        <div class="form-group col-md-3">
      			<label for="companyName" style="width: 300px;">Company/Organization Name</label>
      			<input type="text" class="form-control" name="companyName" ng-model="" placeholder="" style="width: 300px;" required>
      	</div>
        -->

        <div>
      			<input type=Submit class="btn btn-yellow" value="Update and Save" (click)="updateUser(); showConfirm()">
      	</div>

      </form>

			<div id="confirmation" style = "display:none; color:red;" > <strong>Changes Updated!</strong> </div>

    </div>
		<div class="col" align="center">
      <br>
				<h3>Payment Information</h3>
				<br>
				<p>
            	Placeholder for Payment Tool
        </p>
				<br>
				<br>
				<br>
				<br>

        <div class ="row">
          <div class ="col">
            <input type=Submit class="btn btn-blue" value="Return to Home" [routerLink]="['/home']">
          </div>
        </div>




		</div>
	</div>
</div>
